template

  require(from='elements/message/message-view')
  require(from='elements/chatcmdr/chatcmdr')


  section.anim-container.optiscroll-content
    div#overlay
      div
        aside.modal.bbl
          header
          section.content
          a(href='javascript:void(0);', class='close')

    section#ChatContainer
      section#MainWindow
        div#MainPort.optiscroll
          div.message-tray.optiscroll-content
            message-view.message(repeat.for='msg of ports.main._view',
                                  cfg.bind='msg', io.bind='$parent.io')

      section#PartialWindow
        div#Pane0.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.top._view',
                                    cfg.bind='msg')
        div#Pane1.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.center._view',
                                    cfg.bind='msg')
        div#Pane2.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.bottom._view',
                                    cfg.bind='msg')

      aside#UserList(class='${userlistActive === true ? "active" : ""}')
        ul
          li(repeat.for='user of users', class='${user.isTyping}') ${user.name}

    chat-commander#ChatCommander.au-animate(chat-data.bind='data')


