doctype html
html
  title Inviter
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    link(rel='stylesheet' href='inviter/inviter.css')
    link(rel='stylesheet' href='libs/style.css')
    //- script(src='../../libs/live.js')
    script(src='libs/web.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')

  body
    section#Container
      div#ServerStatus(v-el:serverstatus)
        div.status Error Connecting to Server
          button.waves-effect.waves-light.deep-purple.lighten-1.btn(v-on:click='refreshPage') refresh
          div.loader(v-el:loader) loop
      div#FormContainer(v-el:form)
        aside.refresh-list(v-on:click='refreshInviteList($event)') loop
        div.invite-form
          div.row
            div.input-field.col.s6
              input(type='text' data-error='pickles'
                    v-model='inviteCode' v-el:invitebox value=' ' readonly)
              label Invite Code
                span.error-status(v-el:inviteerror)

            div.input-field.col.s3
              input.uses(type='number'
                        min='0'
                        step='1'
                        v-bind:class="{ zero: uses == 0 }"
                        v-model='uses'
                        v-el:uses
                        v-on:change='rangeChanged($event)')
              label.active(v-bind:class="{ zero: uses == 0 }").
                {{ uses == 0 ? "Infinite" : "Uses" }}
              div.infinite.material-icons(v-if='uses == 0') loop

            div.input-field.col.s3
              input.days(type='number'
                        min='0'
                        max='365'
                        step='1'
                        v-model='days'
                        v-el:days
                        v-bind:class='{ zero: days == 0}'
                        v-on:change='rangeChanged($event)')
              label.active(v-bind:class="{ zero: days == 0 }").
                {{ days == 0 ? "10 Years" : "Days" }}
              div.infinite.material-icons(v-if='days == 0') loop
          div.row
            div.col.s6
              button.waves-effect.waves-light.deep-purple.lighten-1.btn(v-on:click='generate') Generate
            div.col.s6
              button.waves-effect.waves-light.green.darken-1.btn.right(v-on:click='save') Save

        div.invite-list-header(v-bind:class='{ "list-active": invites.length }')
          div.row
            div.col.s4 invite code
            div.col.s2 used
            div.col.s2 uses
            div.col.s4 timeout
        div.invite-list(v-bind:class='{ "list-active": invites.length }')
          div.row(v-for='iv in invites'
                  v-bind:class=`{master: iv.time_remaining > (365 * 24) && iv.max_uses == 0,
                                expired: iv.time_remaining == 0,
                                used: iv.uses == iv.max_uses && iv.uses > 0}`)
            div.col.s4 {{* iv.code }}
            div.col.s2 {{* iv.uses }}
            div.col.s2(v-bind:class='{ unlimited: iv.max_uses == 0 }').
              {{* iv.max_uses ? iv.max_uses : "Unlimited" }}

            div.col.s4(v-bind:class='iv.time_remaining | time | toClass').
              {{ iv.time_remaining | time }}
              
            span.delete(v-on:dblclick='deleteInvite(iv.code)') delete_forever

    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js')
    script(src='inviter/inviter.js')