
template
  //- require(from='./app.css')
  section#PageTop
    header.global
      div.ribbon
      aside.logo(click.delegate='test()')



    div#PageTransition(class='${page.overlay? "active" : ""}')

    section#TrayTop.buffer
      aside.watermark
        span alpha
          span.num ${version}

      menu#TabMenu
        ul
          li( repeat.for='route of activeRoutes',
              mousedown.delegate='$parent.goTo(route.href)',
              class=`\${route.isActive ? "active" : ""}
                     \${route.config.classes ? route.config.classes : ""} `) ${route.config.name}

    section#PageMiddle
      section#TrayLeft(class='buffer2 ${utils.page.leftTray.className}')
        menu#MainMenu
          ul
            li( repeat.for='item of mainMenu'
                mousedown.delegate='$parent.populateRoutes(item, $event, true)'
                class='${item.isActive ? "active" : ""}'
                innerhtml='<span>${item.name}</span>')

      router-view#PageContent

      section#TrayRight(class='buffer2 ${page.rightTray.className}')

    footer#TrayBottom.buffer
