
template
  //- require(from='./app.css')
  section#PageTop
    header.global
      div.ribbon
      aside.logo(click.delegate='test()')


    section#TrayTop
      aside.watermark
        span α
          span.num ${version}

      //- menu#TabMenu
      //-   ul
      //-     li( repeat.for='route of tabRouteTree',
      //-         if.bind='route.settings.isChild'
      //-         mousedown.delegate='$parent.goTo(route.route)'
      //-         class=`\${route.navModel.isActive ? "active" : ""}
      //-                \${route.settings.classes ? route.settings.classes : ""} `) ${route.name}

    section#PageMiddle
      section#TrayLeft(class='${utils.page.leftTray.className}')
        menu#MainMenu
          ul
            li( repeat.for='route of router.navigation'
                if.bind='!route.settings.hidden'
                mousedown.delegate='$parent.router.navigate(route.config.name)'
                class='${route.isActive ? "active" : ""}'
              )
                span ${route.config.name}

      router-view#PageContent