
template
  //- require(from='./app.css')
  section#PageTop
    header.global
      div.ribbon
      aside.logo(click.delegate='test()')


    section#TrayTop
      aside.watermark
        span α
          span.num ${version}

      menu#TabMenu
        ul
          li( repeat.for='route of tabRouteTree',
              if.bind='route.navModel.config.isChild'
              mousedown.delegate='$parent.goTo(route.route)'
              class=`\${route.navModel.isActive ? "active" : ""}
                     \${route.config.classes ? route.config.classes : ""} `) ${route.name}

    section#PageMiddle
      section#TrayLeft(class='${utils.page.leftTray.className}')
        menu#MainMenu
          ul
            li( repeat.for='route of router.routes'
                if.bind='!route.navModel.config.isChild && route.route'
                class='${route.name == "pickle" ? "active" : ""}'
              )
                a(href='#/${route.name}') ${route.name}

      router-view#PageContent