
template
  //- require(from='./app.css')
  section#PageTop
    header.global
      div.ribbon
      aside.logo(click.delegate='test()')

    aside#VersionModal.modal-overlay
      div.modal-preload-container
        div.preloader
      section.modal-container
        header
          span.normal ${watermark.title}
        section.code ${watermark.desc}
        a.modal-close(href='javascript:void(0)') &#10060;

    section#TrayTop
      aside.watermark(mousedown.delegate='openWatermark()')
        span ${watermark.class}${watermark.version}

    section#PageMiddle
      section#TrayLeft(class='${utils.page.leftTray.className}')
        menu#MainMenu
          ul
            li( repeat.for='route of router.navigation'
                if.bind='!route.settings.hidden'
                mousedown.delegate='$parent.router.navigate(route.config.name)'
                class='${route.isActive ? "active" : ""}'
              )
                span ${route.config.name}

      router-view#PageContent