
template
  div#overlay
    div.modal-preloader

  section#PageTop
    header.global
      div.ribbon
      aside.logo



    div#PageTransition(class='${page.overlay? "active" : ""}')

    section#TrayTop.buffer
      aside.watermark Alpha: ${version}

      menu#TabMenu
        ul
          li( repeat.for='route of activeRoutes',
              mousedown.delegate='$parent.goTo(route.href)',
              class='${route.isActive ? "active" : ""} ' +
                    '${route.config.classes ? route.config.classes : ""} ') ${route.config.name}

    section#PageMiddle
      section#TrayLeft(class='buffer2 ${utils.page.leftTray.className}')
        menu#MainMenu
          ul
            li( repeat.for='item of mainMenu'
                mousedown.delegate='$parent.populateRoutes(item, $event, true)'
                class='${item.isActive ? "active" : ""} ',
                innerhtml='${$parent.router.isNavigating && item.isActive ? "&nbsp;" : "<span>" + item.name + "</span>"}')

      router-view#PageContent.optiscroll

      section#TrayRight(class='buffer2 ${page.rightTray.className}')

    footer#TrayBottom.buffer
