template
  div.chat-input-container(
    contenteditable='true'
    keypress.delegate='_inputHandler.onKeyPress($event)'
    keyup.delegate='_inputHandler.onKeyUp($event)'
    keydown.delegate='_inputHandler.onKeyDown($event)'
    paste.delegate='_inputHandler.onPaste($event)'
    focus.trigger='_inputHandler.onFocus($event)'
    placeholder='Chat here...'
  )