- var about = "<a href='#/about'>About</a>"
- var families = "<em>Families are not \"In n' Out\", they're forever, just like our Father in heaven</em>."
- var amenable = "<em>\"Ready or willing to answer, act, agree, or yield; open to influence, persuation, or advice; agreeable; submissive; tractable.\"</em>"
- var servant = "<em>\"An amenable servant\"</em>"

template
  section
    article.home.faq.au-animate(role='FAQ')
      input#Search(type='text', placeholder='Search', keyup.delegate='seek($event)')

      div.qa-container
        div#Questions.optiscroll
          div.scroller.optiscroll-content
            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') Why did you create this site?
              div.answer You should check out the !{about} page.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What does Amenaeble mean?
              div.answer.
                Amenaeble comes from the word "Amenable", which by definition means:
                !{amenable}
                Like: !{servant}
                In other words, we are the clay our Father is using to shape His will. The reason
                I added the "e" for the "ae" is because it is Scottish for "one". We are all one under
                the title of His clay. Not a single person is alienated from His grasp and His
                will for our future. Not a one.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') Who created Amenaeble?
              div.answer.
                  Who I am doesn't really matter. I explain about this on the !{about} page.
                  If you must know, I'm just a random fallible human being, looking for the
                  Truth my Father called me to find. We're all here because he willed it and
                  therefore It's my will to fulfill His.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') How can you claim Gods will?
              div.answer.
                  Whether Amenaeble is Gods will or not, it is left to its members to decide. My
                  will is to do His will. I've used the gifts He gave me to create this site for
                  His people, if you're willing. I leave everything in His hands.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What do you get out of this site?
              div.answer.
                        If God blesses this site, then I will be earning a living. If He doesn't,
                        then I have to continue to figure out what He expects of me. That being
                        said, this site will only ever run on donations. I despise advertising and
                        I've already established that this is a place to come out of the world,
                        not be burdened by it.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a living?
              div.answer A living, in my opinion, is not merely an existence, but having a real,
                        |full, life...a life about His will and His people. Hopefully also
                        |someone to call my own.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') How do I get an Invite?
              div.answer.
                  Invites are given out by the Admin (me) as well as those who have established some
                  integrity on the site. That being said, you're free to email the Admin as described
                  on the !{about} page.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') Why Invite Only?
              div.answer
                span.
                    There are three reasons necessary for this decision. The first is that
                    there are too many people on the internet who enjoy abusing free
                    services. That is the world we live in and as such, I must take that
                    into consideration.
                span.
                    The second, is that with an invite system, we are able to filter out the
                    individuals that might pose more harm than good to the site. This has
                    nothing to do with abuse, but individuals that simply don't have the same
                    moral foundation we expect out of our members and ourselves. Although the
                    restrictions will be leniant, certain individuals will provide too much
                    friction to be beneficial.
                span.
                    The third and final reason, is traffic. Early on in the development of this
                    site, there are going to be traffic restrictions. As more and more people
                    are added, this introduces potential for failure depending on the increase
                    in IO on the server. Once I can assess the average strain per-user on the
                    site, then I can remove this restriction and possibly have higher tier
                    members start inviting more people. This is all pending overall interest, as
                    well as our Fathers blessing.



            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') Requirements for an Invite?
              div.answer
                span.
                    A brief but thorough explanation can be found on the !{about} page, but I will
                    give a more specific answer here.
                span.
                    Here we are, all of us, needing something in our lives that finds us wanting.
                    Amenaeble wants those people. Being a part of a community that cherishes its
                    people is rare these days, but that's what we need to build. It's not going to
                    suffice for all, but for the few it will do. If you can express these motivations
                    to the Admin (me) or to another member whom is able to invite, then I can
                    assure you there will probably be a place here for you.
                span.
                    The Sabbath is an integral part of this site and must be at least a modicum
                    portion of your motivation for joining. That, alongside belief in God, are the
                    basic fundamental requirements. If you're lacking faith, but trying to find it,
                    that's okay too. Everyone needs a place to start. Hopefully that place is
                    Amenaeble.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is the Sabbath?
              div.answer
                span.
                    The Sabbath, as defined in the dictionary is, in fact, the 7th day of the week.
                    This is the day I, and many others, observe as the "day of rest" provided us
                    when Elohim rested from their creation. As it is written, this day was created
                    for man, not man for the Sabbath. In other words, it's for our sake to take
                    advantage of for our relationship with the Father as well as each other.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a family?
              div.answer
                span.
                    This is a difficult question, since it's entirely subjective. Each of us has had
                    our own experience with family. We exist, therefore we have a family in one way
                    or another. All I can tell you is how a family SHOULD be, not how families,
                    in fact, are. They should be kind, understanding, and tough. That's from my
                    own experience; your mileage may vary.
                span.
                    Amenaeble is a family, insomuch that we care for one another (at least we should)
                    and strive to better one another by either being an example (a light) or through
                    spirited conversation. Families are not perfect and there are going to be tensions
                    but they should be short-lived. The better question would be, "What's the difference
                    between a Human family and a God family?".
                span.
                    Try as I might, Amenaeble will never reach the status of "God Family", but my
                    Father knows this place is dedicated to Him. If He responds in kind, possibly one
                    day we might know what it is to be a part of a "God Family".



            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What are messages?
              div.answer
                span.
                    When you navigate to the chat panel, you will see text float up on the screen; these
                    are messages. Messages have a number of controls that, depending on your own
                    message count, will either be enabled or disabled. Each user must reach a certain
                    number of messages before all these controls become enabled.
                span.
                    That all seems simple enough right? Well...sort of. There are also 4 different
                    #[em types] of messages. There are Quips, Simple, Standard and Complex message
                    types. From those listed types, right to left, they give increasing amounts
                    of Renown. Complex messages give the most and Quips give the least.
                span.
                    You may be wondering "Why not just make them all the same?". That's a good question.
                    At first glance that seems the easiest solution, but because the Reonwn system is
                    tailored to recognize substantial contributions, there needs to be more strict
                    criteria. There should be no opportunity for users to "pad" their renown either on
                    purpose or accidently.
                span.
                    As it stands right now, only Standard and Complex messages will count towards
                    unlocks of features. Quips and Simple messages also have a much lower Renown benefit
                    than their more substantial alternatives. Now, this doesn't mean that short messages
                    are not substantial. Some of the most wise words can be said very succinctly, but
                    the Renown system is designed to procure substantial contribution over long periods
                    of time.
                span !{families}


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is renown?
              div.answer.
                    Renown is an abstract calculation of a users impact on the site. It can be increased
                    through not only activity on the site, but various interactions between users.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What's the purpose of renown?
              div.answer
                span.
                    With a site like this, there needs to be a way to measure contribution
                    either physical or conceptual. Users need to know their presence has
                    an actual impact on the family they're a part of.
                span.
                    Obviously, recieving compliments and making friends has its own reward,
                    but being able to physically "see" your impact in some way, makes your
                    experience all the more "real".

            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') Gaining renown is slow
              div.answer
                span.
                    You need to think of Renown as something attained over a vast amount of time.
                    If you think of Heroes or Legends having immense "Renown", it's because of all
                    that they achieved in their lifetime, not a single solitary act. This is the
                    way in which you should view Renown.
                span.
                    Everything (almost) you do on the site, gives you a portion of Renown. Your dedication
                    to the site and its members will reflect in your Renown. Accrue enough Renown
                    and you just might get something special...


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is respect?
              div.answer
                span.
                    Respect can be seen as a "+1" or "upvote" on someones message. This
                    should only be used when a user has shared or expressed an idea or
                    content that is deserving of your praise. Give as much as you wish,
                    within reason :)
                ul.list-outer
                  li Rate of respect is limited to 3 per minute.
                  li A message can only recieve one Respect per user.
                  li A user must have at least 70 #[em standard] messages to Respect


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is abuse?
              div.answer
                span Abuse is similar, but NOT the same as, a down-vote. Down voting
                    |assumes that the message recieving the down-vote is dissatisfactory
                    |in some way. Abuse, however, means a user has directly abused
                    |the site or a user on the site in some way. Giving an abuse
                    |modifier is not to be taken lightly and as such, will require
                    |users to input a small message as to why they are assigning abuse.
                ul.list-outer
                  li Messages may only recieve one abuse per user.
                  li Users are required to enter a reason.
                    ul.list-inner
                      li Reasons must be at least 20 chars long
                      li Reasons must be no longer than 140 chars long
                  li Users must have at least 133 #[em standard] messages to assign Abuse


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a like?
              div.answer
                span This should be reserved for an incredible contribution, generally
                    |of a personal nature. If a user likes another user, their name
                    |will appear on the profile of the user they liked.
                ul.list-outer
                  li Likes may only be given once every 2 weeks, per user.
                  li Users must have at least 333 #[em standard] messages to Like other users.
                  li Certain modifiers may apply that recuce limitations.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a love?
              div.answer
                span This should be reserved for people who have consistently
                    |contributed "Good" content on the site for a while; whether
                    |it's advice, news, debate, or just being an inspiration to
                    |others. This is the highest level of appreciation anyone
                    |can receive on the site.
                ul.list-outer
                  li Users can only receive love once a month.
                  li Love can only be given once a month per user.
                  li Users must have at least 3333 #[em standard] messages before they can Love.
                  li Certain modifiers may apply that reduce limitations.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a warning?
              div.answer A warning means an Admin or Moderator has deemed a user defiant or
                        |seriously neglegent regarding the rules. Once a user accrues enough
                        |warnings more serious measures (kick, ban) will be considered.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a silence?
              div.answer.
                  A silence is when an admin or moderator decides to mute a user
                  for inappropriate content or behavior. The duration of the mute depends on the
                  severity of the infraction. Most mutes will only last 15 - 300 seconds.
                  While a user is muted, they may view, but not participate in the
                  chat. A silence will generally happen when a user is flooding the
                  chat repeatedly (too quickly or with repeated content).


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a kick?
              div.answer A kick is when a user is booted from the chat server for a
                        |specific duration set by an admin or moderator. When a
                        |user is kicked, they may not log into the chat server, however
                        |they can still remain logged into their account and view the
                        |site.


            div.qablock
              div.question(mousedown.delegate='getAnswer($event)') What is a ban?
              div.answer
                span.
                  A ban is when a user is forced out of the site and potentially
                  deleted. There are also temporary bans which prevent any kind
                  of logging in until the duration is reached. Bans will be very
                  rare and reserved for persistent inappropriate conduct and/or
                  an outright defiance of the rules. Only Admins will have the
                  ability to perma ban. Users that are temporarily banned will
                  be under review by an Admin. Again, this is a last resort kind
                  of punishment and should not be expected for the proverbial "spilt milk".

                span.none.
                  #[em No bans will be given out unless absolutely necessary].

        div#Answers