
template
  div.cssload-container(if.bind='!authLibsLoaded')
    div.cssload-circle
    div.cssload-circle

  div#SignInPage(css='display: ${authLibsLoaded ? "block" : "none"}' data-session=session)
    div#SignInContent.login-content(ref='signInContent')

      h1 Select a sign-in method.

      div.google-button(click.delegate='signIn("google")')
        span.icon-google-plus Sign-in with Google
      div.facebook-button(click.delegate='signIn("facebook")')
        span.icon-facebook Sign-in with Facebook
      span.signin-response(css='display: ${isResponseActive ? "block" : "none"}'
                          innerHTML.bind='signInResponse')
      h2 Don't have an account? #[br]
        a(href='javascript:void(0)' click.delegate='beginSignUpProcess()') Sign-Up!


    div#RobotContent.login-content.hide(ref='robotContent')
      h1 Click the circles in the order they blink
      div#NodeContainer
        each val in [0, 1, 2, 3]
          div.node
      h1.error-text(class='${isRobotError ? "visible" : ""}' ref='robotButton') Sorry, Try Again!
      button(click.delegate='startRobotTest()')
        span ${robotButtonText}


    div#InviteContent.login-content.hide(ref='inviteContent')
      h1 Enter your Invite Code
      input(type='text' maxlength='12' ref='elInviteContent')
      span.response(css='display: ${inviteResponse.length ? "block" : "none"}'
           innerHTML.bind='inviteResponse')
      button(ref='elInviteButton')
        span Validate

    div#SignupContent.login-content.hide(ref='signUpContent')
      h1 Select a sign-in method.
      div.selection-container
        div.selector.selected(ref='buttonSSO' mousedown.delegate='selectSignUp("sso")') Single Sign-On
        div.selector(ref='buttonDB' mousedown.delegate='selectSignUp("db")') Database


      div.content-container.sso-container(ref='elSSO')
        div.input-container.icon-check-circle-o
          input(type='text'
                id='SSONickname'
                placeholder='_______________'
                keyup.delegate='validateNick($event) & debounce:700'
                maxlength='20'
                ref='elSSONickname')
          div.input-length
            span(class='${nickLength < 4 ? "invalid" : "valid"}').
                ${nickLength < 4 ? nickLength : 4}
            span :
            span(class='${nickLength < 20 ? "valid" : "invalid"}').
                ${(20 - nickLength) < 10 ? "0" + (20 - nickLength) : 20 - nickLength}
          div.input-response
              span(ref='elNickInputResponse').
                  ${nickInputResponse.length ? nickInputResponse : "Enter a Nickname"}

        div.button-container(class='${socialActive ? "show" : "hide"}')
          div.google-button.social-button(click.delegate='signUp("google")')
            span.icon-google-plus Sign-Up with Google
          div.facebook-button.social-button(click.delegate='signUp("facebook")')
            span.icon-facebook Sign-Up with Facebook


      div.content-container.db-container.hide(ref='elDB')
        h2.demo For DEMO Only!
        h2.demo Use Single-Sign On to Login
        div.input-container.icon-check-circle-o
          input(type='text'
                placeholder='Enter Nickname'
                keyup.delegate='validateNick($event) & debounce:500'
                maxlength='20'
                ref='elNickname')
          div.input-length
            span(class='${nickLength < 4 ? "invalid" : "valid"}').
                ${nickLength < 4 ? nickLength : 4}
            span :
            span(class='${nickLength < 20 ? "valid" : "invalid"}').
                ${(20 - nickLength) < 10 ? "0" + (20 - nickLength) : 20 - nickLength}


        div.input-container.icon-check-circle-o
          input(type='password' ref='elPassword' placeholder='Enter Password')

        div.input-container.icon-check-circle-o
          input(type='password'
                ref='elCPassword'
                keyup.delegate='checkConfirm(elPassword, elCPassword)'
                blur.trigger='checkConfirm(elPassword, elCPassword, true)'
                placeholder='Confirm Password')

        div.input-container.icon-check-circle-o
          input(type='text' ref='elEmail' placeholder='Enter E-mail')

        div.input-container.icon-check-circle-o
          input(type='text'
                ref='elCEmail'
                keyup.delegate='checkConfirm(elEmail, elCEmail)'
                blur.trigger='checkConfirm(elEmail, elCEmail, true)'
                placeholder='Confirm E-mail')

