- var about = "<a href='#/about'>About</a>"
- var families = "<em>Families are not \"In n' Out\", they're forever, just like our Father in heaven</em>."
- var amenable = "<em>\"Ready or willing to answer, act, agree, or yield; open to influence, persuation, or advice; agreeable; submissive; tractable.\"</em>"
- var servant = "<em>\"An amenable servant\"</em>"
- var definition = "<a href='http://www.dictionary.com/browse/noumenon' target='_blank'>Dictionary Definition of Noumenon</a>"
- var kantianism = "<a href='https://en.wikipedia.org/wiki/Immanuel_Kant' target='_blank'>Kantianism</a>"
- var test = "<a href='javascript:void(0);' mousedown.delegate='getAnswer($event)'>Test</a>"
- var nsfw = "<a href='#/faq/nsfw'>NSFW</a>"

template
  require(from='../../resources/value-converters/markdown-format')
  article.home.faq(
    class='${isAttached ? "page-in" : "g-hidden"}'
    role='FAQ')
    div.qa-container
      div.question-panel
        input#Search(type='text',
                     placeholder='Search',
                     keyup.delegate='seek($event) & debounce:150'
                     ref='elSearch')
        div#Questions
          div.scroller
            div.qablock(repeat.for='q of questions' if.bind = '!q.filter')
              div.question(mousedown.delegate='render(q)') ${q.title}

      div#Answers
        div.scroller(innerhtml.bind = 'answer | markdown', ref='elScroller')
          div.answer-placeholder Click a Question on the Left