- var nsfw = "<a href='#/faq/what-are-common-phrases' title='Not Safe For Work'>NSFW</a>"

template
  //- section.optiscroll-content(class='${router.isNavigating ? "hidden" : "visible"}')
  article.home.au-animate(
    class='${isAttached ? "page-in" : "g-hidden"}'
    role='rules')
    div.rules-container.content
      span.rule Love
      span.def.
        One rule to "Rule" them all. #[em Show Love for one another]; there is no rule greater
        than this. The rules below are explicit reminders for those moments when we forget
        to love.

    div.rules-container.content
      span.rule Language
      span.def
        span.legend
          b 1.1
          span.
            Offending members or provoking members to anger is forbidden.
        span.legend
          b 1.2
          span.
            Using provocative language such as cussing or cursing will only be tolerated within
            the proper context of personal expression (when it's appropriate). Keep in mind that
            it's not appropriate most of the time.
        span.legend
          b 1.3
          span.
            Any language that violates #[b 1.1] will NOT be tolerated; this includes language
            barriers. #[em (ex: cursing in spanish to an english speaking person)]
        span.legend
          b 2.1
          span.
            All our members have a right to be as anonymous as they wish. Provoking a member
            to divulge personal details about themselves is forbidden.
        span.legend
          b 3.1
          span.
            Currently, English is the preferred lanugage of Noumenae. If you wish to
            have a discussion in another language,
            #[i you're welcome to create your own channel on the site].
            #[b (Personal channels are still a work in progress)]


    div.rules-container.content
      span.rule Linking
      span.def
        span.legend
          b 1.1
          span.
            All links should be constructive and non-provocative. This depends highly on the context
            of the channel. Most links are okay in the general chat as long as they don't violate any
            previous or following rules.
        span.legend
          b 2.1
          span All images should be appropriate for the channel they're posted in.
        span.legend
          b 2.2
          span.
            Images that are provocative or !{nsfw}, should not be linked,
            talked about, or hinted at in any way.
        span.legend
          b 2.3
          span.
            A provocative or !{nsfw} image may be discussed, or in some cases linked, #[b ONLY] if
            the context of the discussion warrants it. In such a case, the image (if linked) must be
            behind spoilers.
        span.legend
          b 2.4
          span.
            Any provocative or !{nsfw} images that are illegal or potentially illegal are
            forbidden, regardless of the context of a discussion.


    div.rules-container.content
      span.rule Fun
      span.def.
        #[b Have fun with it!]#[br]
        What's the point of bringing people together of similar mind and love if
        we can't find the laughter and the joy? This is what Noumenae is about; converging on the
        joy from the wellspring of our #[b God-given-love] that is within all of us, bursting out
        to be discovered. Share the passion, the heartache, and the revelation. All of it is God-within,
        letting the world know He's always been here.


    div.rules-container.content
      span.rule Disclaimer
      span.def.
        Noumenae and associated persons do not assume any responsibility for the content that
        its members post. All members accept full responsibility for their actions and content
        on this site. Noumenae and associated persons will not be liable or responsible in any
        way for member generated content or for damages of any kind, including, but not limited
        to, physiological or psychological, incurred as a result of the use of or reliance on
        member generated content.