template

  require(from='./elements/message/message-view')
  require(from='./elements/chatcmdr/chatcmdr')
  aside#VerseModal.modal-overlay
    div.modal-preload-container
      div.preloader
    section.modal-container
      header
        span ${scriptures.book.toLowerCase()}
        span.normal &nbsp;${scriptures.notation}
      section
        span(repeat.for='chapter of scriptures.chapters')
          template(repeat.for='verse of chapter.verses')
            h2(if.bind='verse.title', innerhtml.bind='verse.title.toLowerCase()')
            div.legend
              b.col1 ${chapter.num}:${verse.num}
              span.col2(innerhtml.bind='verse.text')
      a.modal-close(href='javascript:void(0)') &#10060;


  section.anim-container(class='${isAttached ? "g-visible" : "g-hidden"}')
    section#ChatContainer
      section#MainWindow
        div#MainPort
          div.message-tray
            message-view.message(
              repeat.for='msg of ports.main._view'
              cfg.bind='msg'
              messages.bind='msg.messages'
              io.bind='$parent.io')

      section#PartialWindow
        div#Pane0.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.top._view',
                                    cfg.bind='msg')
        div#Pane1.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.center._view',
                                    cfg.bind='msg')
        div#Pane2.pane
          div.paneport
            div.message-tray
              message-view.message(repeat.for='msg of ports.bottom._view',
                                    cfg.bind='msg')

      aside#UserList(class='${userlistActive ? "active" : ""}')
        ul
          li(repeat.for='user of users'
             class='${user.isTyping}'
             contextmenu.delegate='denyContextMenu()'
             mousedown.delegate='toggleUserData($event)'
             dblclick.delegate='noticeUser($event)') ${user.name}
        div.user-context-menu(class='${userDataActive ? "active" : ""}')
          div.title ${userData.alias}
          dl
            dt ping
            dd ${userData.ping}
            dt user group
            dd ${userData.accessLevel}


    chat-commander#ChatCommander(chat-data.bind='data' view-model.ref='commander')