template

  require(from='./elements/message/message')
  require(from='./elements/chatcmdr/chatcmdr')
  require(from='./elements/user-list/user-list')

  aside#VerseModal.modal-overlay
    div.modal-preload-container
      div.preloader
    section.modal-container
      header
        span ${scriptures.book.toLowerCase()}
        span.normal &nbsp;${scriptures.notation}
      section
        span(repeat.for='chapter of scriptures.chapters')
          template(repeat.for='verse of chapter.verses')
            h2(if.bind='verse.title', innerhtml.bind='verse.title.toLowerCase()')
            div.legend
              b.col1 ${chapter.num}:${verse.num}
              span.col2(innerhtml.bind='verse.text')
      a.modal-close(href='javascript:void(0)') &#10060;


  section.anim-container(class='${isAttached ? "g-visible" : "g-hidden"}')
    section#ChatContainer
      section#MainWindow
        div#MainPort
          div.message-tray
            message.message(
              repeat.for='msg of messages'
              cfg.bind='msg'
              lines.bind='msg.lines'
              sock.bind='$parent.sock')

      user-list#UserList(sock.bind='sock')


    chat-commander#ChatCommander(sock.bind='sock'
                                 chat.bind='chat')