template
  require(from='../../resources/value-converters/markdown-format')
  require(from='../../resources/value-converters/date-format')
  article.dyn-panel(class='${isAttached ? "page-in" : "g-hidden"}')
    div.panel-container
      div.panel
        div.titles
          div.scroller
            div.title(repeat.for='page of pages'
                      mousedown.delegate=`
                        navigate(page.title.length == 2 ? page.title[1] : page.title)`
            ) ${page.title.length == 2 ? '' : page.title}
              div.split-title(if.bind='page.title.length == 2')
                div.title-left ${page.title[0]}
                div.title-right ${page.title[1]}
                  div.subtitle(if.bind='page.time') ${page.time | dateFormat: "@NUM"}



      div.content(
        class='${isTransit ? "hidden" : "visible"}'
      )
        header(if.bind='header') ${header}
          div.subheader ${subheader}
        div.content-scroller.scroller.markdown(
          innerhtml.bind='content | markdown'
          class.bind='mdClass'
          ref='elContentScroller')