template
  require(from='../../resources/value-converters/markdown-format')
  article.dyn-panel
    div.panel-container
      div.panel
        div.titles
          div.scroller
            div.title(repeat.for='page of pages'
                      mousedown.delegate='render(page)'
            )
              div.left(if.bind='page.title.length == 2') ${page.title[0]}
              div.right(if.bind='page.title.length == 2') ${page.title[1]}


      div.page.markdown(class.bind='mdClass')
        header(if.bind='header') ${header}
          div.subheader ${subheader}
        div.content-scroller.scroller(innerhtml.bind='content | markdown'
                                      ref='elContentScroller')